<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
  crossorigin="anonymous"></script>
	  
  </head>
  <body>
	  <div class="ui inverted menu r">
		  <div class="ui container">
			  
		
		  <div class="item"><i class="asterisk loading icon"></i>Blog</div>
			  
		  
  <a href="/blogs" class="item">
    Home
  </a>
  <a href="/blogs/new" class="item">
    New post
  </a>
    </div>
</div>